
@page "/page"

<h3>@PageTitle</h3>

<PageTitle></PageTitle>
<EditNote></EditNote>


@code{
    public string PageTitle { get; set; } = "Blazor Page";

    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Message { get; set; }

}